body {
    margin: 0;
}

.grid {
    position:  absolute;
    top: 0;
    left: 35%;
    background-color: #ffffff;
    display: block;
    width: 65%;
    height: 100%;
    z-index: 1;
}

#guiId{
    position: absolute;
    top:0;
    left: 0;
    width:35%;
    height: 100%;
    background-color: #ffffff;
    margin-left: 10px;
    padding: 0;
}

.tF{
    width: 20%;
    margin: 5px;
}

#btn1{
    width: 100px;
    float: left;
    height: 36px;
    margin: 5px;

}
#btn2{
    width: 100px;
    float: left;
    height: 36px;
    margin: 5px;

}

#addC{
    margin-left:115%;
    width: 100px;
    height:36px;

}

#addA{
    margin-left:115%;
    width: 100px;
    height:36px;
}

.add{
    margin: 5px;


}


