body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    margin: 0;
}

.grid {
    top: 0;
    position: fixed;
    left: 35%;
    background-color: #ffffff;
    display: block;
    width: 65%;
    height: 100%;
    z-index: 1;
}

#guiId{
    position: absolute;
    top:0;
    left: 0;
    width:35%;
    height: 100%;
    background-color: #ffffff;
    margin-left: 10px;
    padding: 0;
    max-width: 550px;

}

/* Text field properties for the fields for add */
.tF{
    width: 20%;
    height: 20%;
    margin: 5px;
}
/* Text field properties for Scalar entry */
.tfS{
    width: 30%;
    margin-left: 5%;
    top: -5px;
}

.oneVPos{
    width: 120px;
    float: left;
    height: 36px;
    margin: 5px;
}

.twoVPos{
    width: 90px;
    height: 40px;
    float: left;
    margin: 5px;
    padding: 0;
}

.viewPos{
    width: 123px;
    height: 45px;
    float: left;
    margin: 3px;
    padding: 0;
}

#addC{
    margin-left:115%;
    width: 100px;
    height:36px;

}

#addA{
    margin-left:115%;
    width: 100px;
    height:36px;
}

.margin{
    margin: 5px;


}

.white{
    font-size: 13px;
    margin: 0;
    padding: 0;
    color: #ffffff;
    text-align: center;
    bottom: 50%;

}

.f20{
    font-size: 20px;
}

.posText{
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding: 3px;
}

<<<<<<< HEAD
=======
#vectorOption{
    padding-top: 10px;
    width: 95%;
    border: none;
    outline: none;
    overflow-y: auto;
    align-self: center;

}
#vectorOption option{
    font-size: 1.2em;

}

>>>>>>> 159b4aa73e4d8d2697cf9a20574d8c6f13dc9b23
.mred{
    background-color: #f44336 !important;
}

.mblue{
    background-color: #2196F3 !important;
}

.mgreen{
    background-color: #4CAF50 !important;
}

.posL{
    margin-right: 15%;
}
<<<<<<< HEAD
=======

.f20{
    font-size: 20px;
}

>>>>>>> 159b4aa73e4d8d2697cf9a20574d8c6f13dc9b23

