body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    margin: 0;
}

.grid {
    position:  absolute;
    top: 0;
    left: 35%;
    background-color: #ffffff;
    display: block;
    width: 65%;
    height: 100%;
    z-index: 1;
}

#guiId{
    position: absolute;
    top:0;
    left: 0;
    width:35%;
    height: 100%;
    background-color: #ffffff;
    margin-left: 10px;
    padding: 0;
    max-width: 550px;

}

/* Text field properties for the fields for add */
.tF{
    width: 20%;
    height: 20%;
    margin: 5px;
}
/* Text field properties for Scalar entry */
.tfS{
    width: 30%;
    margin-left: 5%;
    top: -5px;
}

.oneVPos{
    width: 120px;
    float: left;
    height: 36px;
    margin: 5px;
}

.twoVPos{
    width: 75px;
    height: 30px;
    float: left;
    margin: 5px;
}

.viewPos{
    width: 123px;
    height: 45px;
    float: left;
    margin: 3px;
    padding: 0;
}

#addC{
    margin-left:115%;
    width: 100px;
    height:36px;

}

#addA{
    margin-left:115%;
    width: 100px;
    height:36px;
}

.margin{
    margin: 5px;


}

.posText{
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding: 3px;
}


